{{> header }}

<!-- this is the generic _layout //-->
	<div class="container">
		<div class="twelve columns offset-by-two">
			<h2>{{{ title }}}</h2> 
			<p>{{{bio}}}</p>
		</div>
	</div><!-- container -->

{{#javascript_bundle}}/js/all.js{{/javascript_bundle}}

{{> footer }}
