<article>
	<h3><a href="{{ permalink }}">{{{ title }}}</a>
	<time datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}">{{#long_date}}{{published_date}}{{/long_date}}</time></h3>
	{{{ content }}}
	{{#is_teaser}}
	<div><a href="{{ permalink }}" class="more">More »</a></div>
	{{/is_teaser}}
</article>

<hr />
