{{> header }}

<!-- this is the right shit //-->
	<div class="container">
		<div class="twelve columns offset-by-two">
			{{> archive }}
		</div>
	</div><!-- container -->

{{#javascript_bundle}}/js/all.js{{/javascript_bundle}}

{{> footer }}
