{{> header }}

<!-- this is the right shit for the index //-->
	<div class="container">
		<div class="twelve columns offset-by-two">
			{{{ index }}}
			{{#recent_posts}}
			{{> post }}
			{{/recent_posts}}
		</div>
	</div><!-- container -->

{{#javascript_bundle}}/js/all.js{{/javascript_bundle}}

{{> footer }}
